@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="col-12">
    <div class="row">
        <form class="text-center" method="post">
            <label class="form-label">
                Цепочка матриц: <input class="form-control" type="text" name="matrixChainData" placeholder="Введите цепочку матриц"/>
            </label>
            <input type="submit" value="Вычислить"/>
        </form>
    </div>
</div>
