@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="col-12">
    <div class="row">
        <form method="post">
            <label>
                Цепочка матриц: <input type="text" name="matrixChainData" placeholder="Введите цепочку матриц"/>
            </label>
            <input type="submit" value="Вычислить"/>
        </form>
    </div>
</div>
