@page
@model MCM.Web.Pages.MatrixChainMultiplicationModel
@{
    ViewData["Title"] = "Matrix chain multiplication";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Динамическое программирование</h2>
        </div>

        <div class="12">
            <label>@Model.DynamicMethodResult.MinCostMultiplication</label>
        </div>
    </div>
</div>
